@foreach (var Pizza in ShoppingCart.Pizzas)
{
    <p>
        <strong>
            @(Pizza.Size) cm
            @Pizza.Special.Name
            (@Pizza.GetFormattedTotalPrice())
        </strong>
    </p>
    <ul>
        @foreach (var Topping in Pizza.Toppings)
        {
            <li>+ @Topping.Name</li>
        }
    </ul>
}
<p>
    <strong>
        @Messages.TotalPriceText
        @ShoppingCart.GetFormattedTotalPrice()
    </strong>
</p>