@page "/orders"
@using NorthWind.BlazingPizza.Entities.Extensisons

<TopBar></TopBar>

<div class="main">
    @if (ViewModel.Orders == null)
    {
        <text>@Messages.LoadingText</text>
    }
    else if (!ViewModel.Orders.Any())
    {
        <h2>@Messages.EmptyOrdersText</h2>
        <a class="btn btn-success" href="">
            @Messages.OrdenAnyPizzaText
        </a>
    }
    else
    {
        <div class="list-group orders-list">
            @foreach (var Item in ViewModel.Orders)
            {
                <div class="list-group-item">
                    <div class="col">
                        <h5>@Item.CreatedTime.ToLongDateString()</h5>
                        @Messages.PizzasText
                        <strong>@Item.PizzaCount</strong>
                        @Messages.TotalPriceText
                        <strong>@Item.GetFormattedTotalPrice()</strong>
                    </div>
                    <div class="col">
                        @Messages.StatusText
                        <strong>@Item.Status.ToFriendlyString()</strong>
                    </div>
                    @if (Item.Status != Entities.Enums.OrderStatus.Delivered)
                    {
                        <div class="col tex-rigth">
                            <a href="orderdetails/@Item.Id"
                               class="btn btn-success">
                                @Messages.TrackText
                            </a>
                        </div>
                    }
                </div>
            }
        </div>   
    }
</div>